{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 class="helpheader">User Guide</h1>
    </div>
    <br>
    <ol class="helplist">
      <h4><li>How to add a new song?</li></h4>
      <ul>
        <li>Click on the ADMIN link</li>
        <li>Enter the authorisation details (Login)</li>
        <li>Click on Songs</li>
        <li>Choose to ADD SONG</li>
        <li> Fill all fields</li>
        <li>Press save</li>
        <li>Refresh the website. Your song is now diplayed on the home page!</li>
      </ul>
      <br>
      <h4><li>How to search a song?</li></h4>
      <ul>
        <li>Use the navigation bar on the top of the website</li>
        <li>Enter a song's title in the Search Songs field </li>
        <li>Click the Search button</li>
        <li>For the advance search click on the Filters button</li>
        <li>Fill the fields with additional information for a more precise result</li>
        <li>Click the Search button</li>
      </ul>
      <br>
      <h4><li>For more details check the README.md file in the repository</li></h4>
      <ul>
        <li><a href="https://github.com/UoA-CS5942/Alpha-2021">GitHub</a></li>
      </ul>
    </ol>
  </div>
  <br><br>

  <div class="card">
    <div class="card-header">
      <h1 class="helpheader">Need Help?</h1>
      <p class="helpheader">Please do not hesitate to contact us. Our team will gladly help you as soon as possible!</p>
    </div>
    <div class="card map">
      <div class="card-body map">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label>First name</label>
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col-md-4 mb-3">
            <label>Last name</label>
            <input type="text" class="form-control" placeholder="Last name">
          </div>
          <div class="col-md-4 mb-3">
            <label>Email</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="@">
            </div>
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
        </div>
        <div class="form-row">
          <label>Question</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
      </div>
      <div>
        <div class="card-body">
         <button class="btn searchButton">Send</button>
       </div>
     </div>
   </div>


 </div>
 {% endblock %}
